{% extends "shop/layout.html" %}

{% block content %}
    <h2>Shop Form</h2>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="등록하기"/>
    </form>

    <hr/>
    <a href="{% url "shop:shop_list" %}" class="btn btn-primary">
        목록으로</a>
    {% if post %}
        <a href="{% url "shop:shop_delete" shop.pk %}" class="btn btn-success">
            취소</a>
    {% endif %}
{% endblock %}