{% extends "shop/layout.html" %}

{% block content %}
    <h2>Shop List</h2>
    <div class="row">
        <div class="col-sm-8">
            <ul>
                {% for shop in shop_list %}
                    <li>
                        <a href="{% url "shop:shop_detail" shop.pk %}">
                            {{ shop.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4">
            <a href="{% url "shop:shop_new" %}" class="btn btn-primary mb-1">
                가게 등록</a>
            <form action="" method="get">
                <input type="text"
                       name="query"
                       value="{{ request.GET.query }}"
                       placeholder="검색어를 입력해주세요."/>
                <input type="submit" value="검색"/>
            </form>
            <ul>
                <li>
                    <a href="?category_id=">전체</a>
                </li>
                {% for category in category_list %}
                    <li>
                        <a href="?category_id={{ category.pk }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}