{% extends "mall/layout.html" %}

{% block content %}
    <h2>{{ cloth.name }}</h2>

    <p>
    태그:
    {% for tag in tag_list %}
        <span class="badge bg-success">
        {{ tag.category }}
        </span>
    {% endfor %}

    </p>

    <img src="{{ cloth.photo.url }}"
         alt="{{ cloth.name }}">

    {{ cloth.content|linebreaks }}

    <h3>리뷰</h3>
    <ul>
        {% for review in review_list %}
            <li>
                {{ review.message }}
                by {{ review.author_name }}
                at {{ review.created_at }}
            </li>
        {% endfor %}

    </ul>


    <a href="{% url "mall:cloth_list" %}">
        목록으로
    </a>

{% endblock %}